name: Docker Image CI for Python Script

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:


    runs-on: ubuntu-latest

  steps:
    - name: ckeckout
      uses: actions/checkout@v1
