name: Docker Image CI for Python Script

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:


    runs-on: ubuntu-latest

  steps:
    - name: Checkout 
      uses: actions/checkout@v1
      

    - name: Build & push Docker image
      uses: docker/login-action@v2
      with:
        image: dhia07/automated_workflow
        tags: v1, latest
        registry: docker.io
        dockerfile: Dockerfile.ci
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
