name: Docker Image CI for Python Script

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:


    runs-on: ubuntu-latest

    steps:

    - name: ckeckout
      uses: actions/checkout@v1



    - name: login to dockerhub
      uses: docker/login-action@v2
      with:
           
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push image
      uses: docker/build-push-action@v3
      with:
          push: true
          image: dhia07/automated_workflow
          tags: v1, latest      
   
         
